Repository nextflow-io/training, pull requests merged in 2024-10, with the labels that each got.

#387 add shebang to all main Nextflow script
  hands-on/final_main.nf
  hello-nextflow/hello-gatk.nf
  hello-nextflow/hello-modules.nf
  hello-nextflow/hello-nf-test.nf
  hello-nextflow/hello-world.nf
  hello-nextflow/scripts/hello-gatk-1.nf
  hello-nextflow/scripts/hello-gatk-2.nf
  hello-nextflow/scripts/hello-gatk-3.nf
  hello-nextflow/scripts/hello-gatk-4.nf
  hello-nextflow/scripts/hello-gatk-5.nf
  hello-nextflow/scripts/hello-gatk-6.nf
  hello-nextflow/scripts/hello-modules-1.nf
  hello-nextflow/scripts/hello-modules-2.nf
  hello-nextflow/scripts/hello-modules-3.nf
  hello-nextflow/scripts/hello-world-1.nf
  hello-nextflow/scripts/hello-world-2.nf
  hello-nextflow/scripts/hello-world-3.nf
  hello-nextflow/scripts/hello-world-4.nf
  hello-nextflow/scripts/hello-world-5.nf
  hello-nextflow/scripts/hello-world-6.nf
  hello-nextflow/scripts/hello-world-7.nf
  hello-nextflow/scripts/hello-world-8.nf
  hello-nextflow/scripts/hello-world-9.nf
  nf-training-advanced/groovy/main.nf
  nf-training-advanced/metadata/main.nf
  nf-training-advanced/operators/main.nf
  nf-training-advanced/structure/main.nf
  nf-training/script1.nf
  nf-training/script2.nf
  nf-training/script3.nf
  nf-training/script4.nf
  nf-training/script5.nf
  nf-training/script6.nf
  nf-training/script7.nf
  nf-training/snippet.nf
  troubleshoot/exercise1/hello-gatk.nf
  troubleshoot/exercise2/hello-gatk.nf
  troubleshoot/exercise3/hello-gatk.nf
  troubleshoot/exercise4/hello-gatk.nf
  troubleshoot/exercise5/hello-gatk.nf
  troubleshoot/exercise6/hello-gatk.nf
  troubleshoot/hello-gatk.nf
Labels: enhancement

#404 Update gitpod defaults + training portal home page and related
  .gitpod.yml
  README.md
  docs/advanced/index.md
  docs/basic_training/index.md
  docs/envsetup/index.md
  docs/hello_nextflow/index.md
  docs/help.md
  docs/index.md
  docs/nf_customize/index.md
  docs/nf_develop/index.md
  docs/troubleshoot/index.md
  gitpod-ws.code-workspace
  mkdocs.yml
Labels: documentation, enhancement, gitpod

#391 Add Hello-channels, stub for containers etc and reorder training modules
  docs/hello_nextflow/01_orientation.md
  docs/hello_nextflow/02_hello_world.md
  docs/hello_nextflow/03_hello_containers.md
  docs/hello_nextflow/03_hello_gatk.md
  docs/hello_nextflow/04_hello_science.md
  docs/hello_nextflow/05_hello_channels.md
  docs/hello_nextflow/07_hello_modules.md
  docs/hello_nextflow/08_hello_nf-test.md
  docs/hello_nextflow/09_hello_nf-core.md
  docs/hello_nextflow/10_hello_seqera.md
  docs/hello_nextflow/img/hello-gatk-1.svg
  docs/hello_nextflow/img/hello-gatk-2.svg
  hello-nextflow/data/greetings.csv
  hello-nextflow/data/greetings.txt
  hello-nextflow/hello-gatk.nf
  hello-nextflow/hello-world.nf
  hello-nextflow/scripts/hello-gatk-1.nf
  hello-nextflow/scripts/hello-world-9.nf
  mkdocs.yml
Labels: enhancement, gitpod, training material, hello series

#408 Updates to Part 4: Hello Operators (was: Channels)
  docs/hello_nextflow/01_orientation.md
  docs/hello_nextflow/02_hello_world.md
  docs/hello_nextflow/04_hello_genomics.md
  docs/hello_nextflow/05_hello_channels.md
  docs/hello_nextflow/05_hello_operators.md
  hello-nextflow/hello-genomics.nf
  hello-nextflow/hello-operators.nf
  hello-nextflow/scripts/hello-gatk-6.nf
  hello-nextflow/scripts/hello-genomics/hello-genomics-1.nf
  hello-nextflow/scripts/hello-genomics/hello-genomics-2.nf
  hello-nextflow/scripts/hello-genomics/hello-genomics-3.nf
  hello-nextflow/scripts/hello-genomics/hello-genomics-4.nf
  hello-nextflow/scripts/hello-operators/hello-operators-1.nf
  hello-nextflow/scripts/hello-operators/hello-operators-2.nf
  hello-nextflow/scripts/hello-operators/hello-operators-3.nf
  mkdocs.yml
Labels: enhancement, training material, hello series

#427 Fix error in Operators instructions
  docs/hello_nextflow/05_hello_operators.md
Labels: training material, hello series
