Repository nextflow-io/training, pull requests merged in 2025-03, with the labels that each got.

#513 Devcontainers cleanup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/gitpod.Dockerfile
  .github/workflows/docker.yml
  .github/workflows/mkdocs-docker.yml
  side-quests/solutions/nf-test/tests/main.converttoupper.nf.test.snap
Labels: environment

#536 nf-test component for 'Nextflow for Genomics'
  docs/nf4_science/genomics/04_testing.md
  mkdocs.yml
  nf4-science/genomics/solutions/modules/gatk/haplotypecaller/main.nf
  nf4-science/genomics/solutions/modules/gatk/haplotypecaller/tests/main.nf.test
  nf4-science/genomics/solutions/modules/gatk/haplotypecaller/tests/main.nf.test.snap
  nf4-science/genomics/solutions/modules/gatk/jointgenotyping/main.nf
  nf4-science/genomics/solutions/modules/gatk/jointgenotyping/tests/inputs/reads_father.bam.g.vcf
  nf4-science/genomics/solutions/modules/gatk/jointgenotyping/tests/inputs/reads_father.bam.g.vcf.idx
  nf4-science/genomics/solutions/modules/gatk/jointgenotyping/tests/inputs/reads_mother.bam.g.vcf
  nf4-science/genomics/solutions/modules/gatk/jointgenotyping/tests/inputs/reads_mother.bam.g.vcf.idx
  nf4-science/genomics/solutions/modules/gatk/jointgenotyping/tests/inputs/reads_son.bam.g.vcf
  nf4-science/genomics/solutions/modules/gatk/jointgenotyping/tests/inputs/reads_son.bam.g.vcf.idx
  nf4-science/genomics/solutions/modules/gatk/jointgenotyping/tests/main.nf.test
  nf4-science/genomics/solutions/modules/samtools/index/main.nf
  nf4-science/genomics/solutions/modules/samtools/index/tests/main.nf.test
  nf4-science/genomics/solutions/modules/samtools/index/tests/main.nf.test.snap
  nf4-science/genomics/solutions/nf-test.config
  nf4-science/genomics/solutions/tests/genomics-4.nf.test
  nf4-science/genomics/solutions/tests/nextflow.config
Labels: nf4 science

#551 Add RNAseq to NF4 Science index
  docs/index.md
  docs/nf4_science/index.md
Labels: nf4 science

#554 Improve how Side Quests show up
  docs/side_quests/index.md
  docs/side_quests/nf-test.md
  docs/side_quests/workflows_of_workflows.md
Labels: side quests

#557 Fix typos in nf4_science/genomics/03_modules.md and 04_testing.md
  docs/nf4_science/genomics/03_modules.md
  docs/nf4_science/genomics/04_testing.md
  nf4-science/genomics/solutions/modules/gatk/haplotypecaller/tests/main.nf.test
  nf4-science/genomics/solutions/modules/gatk/haplotypecaller/tests/main.nf.test.snap
Labels: documentation, improve, nf4 science, external

#564 minor numeration fix in in `hello_nextflow/06_hello_config.md`
  docs/hello_nextflow/06_hello_config.md
Labels: bug, hello series, external

#529 Highlights/Tabs for code changes
  docs/hello_nextflow/01_hello_world.md
  docs/hello_nextflow/02_hello_channels.md
  docs/hello_nextflow/03_hello_workflow.md
  docs/hello_nextflow/04_hello_modules.md
  docs/hello_nextflow/05_hello_containers.md
  docs/hello_nextflow/06_hello_config.md
Labels: documentation, improve, hello series
